.cache/
dist/
.DS_Store
.env
.env.*
*.jks
*.keystore
*.p12
*.mobileprovision
ios/build/
ios/*.xcodeproj/
android/.gradle/
android/build/
android/local.properties
android/app/build/
android/app/src/main/assets/app.js
ios/Resources/app.js
ios/Resources/Bend-LICENSE.txt
android/app/src/main/assets/Bend-LICENSE.txt
native/generated/
android/app/src/main/assets/kernel.spv
android/app/.cxx/
